# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Laborator-POO\Laborator-POO\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
